@import "variables.scss";
@import "buttons.scss";

.hide {
  display: none;
}

//////////////////// general /////////////////////////////
body {
  //background-color: $lightGray;
  background-image: url('../assets/crowd-hands.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: "Oswald";
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
  &:hover{
    text-shadow: 1px 1px 2px black;
    color: $redLike;
  }
}
button {
  border: none;
  color: white;
  margin: 1% auto;
  background-color: $paleGreen;
  vertical-align: middle;
  font-size: 1.4em;
  padding: .2em;
  &:focus {
    outline: none;
  }
  &:hover {
    text-shadow: .5px .5px 1px $gunsmoke;
  }
}
input {
  border: none;
  margin-left: 20%;
  font-size: 1.9em;
  vertical-align: middle;
  border-radius: .1em;
  padding: .1em;
  &:focus {
    outline: none;
  }
}
select {
  margin-left: 5%;
}
//////////////////// header //////////////////////////////
h1 {
  color: $lightGray;
  text-align: center;
  text-shadow: 1px 1px 2px $paleGreen;
  background-color: $lightBlue;
  margin: 0;
  padding: 1%;
  font-size: 5em;
}
#nav {
  background: linear-gradient(to bottom, black, $gunsmoke, $gunsmoke, black);
  margin: 0;
  padding: 0;
  li {
    font-size: 1.7em;
    display: inline-block;
    margin: 0 1%;
    padding: 1%;
    &:nth-child(1) {
      margin-left: 35%;
    }
    // a {
    //   &:active {
    //     color: $paleGreen;
    //   }
    // }
  }
}
//////////////////// body ////////////////////////////////
article {
  background-color: $lightBlue;
  border-radius: .8em;
  color: white;
  margin: 5% auto;
  width: 60%;
  padding: 1%;
  box-shadow: 2px 2px 6px black;
  border: .2em solid $paleGreen;
  li {
    font-size: 1.8em;
  }
  h3 {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 1.9em;
    text-align: center;
  }
  .details {
    background-color: $lightGray;
    color: black;
    border-radius: .4em;
    padding: 2%;
    a {
      color: $lightBlue;
      &:hover {
        color: $redLike;
      }
    }
    h4 {
      font-size: 1.5em;
    }
    h6 {
      font-size: 1.1em;
    }
    h4, h6, p {
      margin: 1% auto;
      width: 30%;
      text-align: center;
    }
  }
  hr {
    color: $lightGray;
  }
}
.untrack {
  background-color: $redLike;
  &:hover {
    background-color: $paleGreen;
  }
}
form {
  margin: 1% auto;
  width: 55%;
}
select {
    border: 0;
    font-size: 1.9em;
    margin: 0 auto;
    vertical-align: middle;
    background-color: $gunsmoke;
    color: white;
    &:focus{
      outline: none;
    }
}
